<table class="table table-striped table-borderless ocp-table">
    <thead>
        <tr>
            <th class="text-start">Funcionário</th>
            <th class="text-center">Num Faltas</th>
            <th class="text-center">Dias Faltas</th>
            <th class="text-center">Adicional Noturno</th>
            <th class="text-center">Ajuda de Custo Dias</th>
            <th class="text-center">Ajuda de Custo KMs</th>
            <th class="text-center">Valor Horas Extras</th>
            <th class="text-start">Observações</th>
        </tr>
    </thead>
    <tbody>
        {{list_workersline}}
    </tbody>
</table>